@font-face {
  font-family: 'Bluu Suuperstar';
  src: url('~assets/fonts/BluuSuuperstar-Regular.woff2') format('woff2'),
      url('~assets/fonts/BluuSuuperstar-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}