@import "@/_fonts.css";

@import "tailwindcss/base.css";
@import "tailwindcss/components.css";

@import '@/_headings.css';

@import "tailwindcss/utilities.css";

body {
  @apply antialiased font-sans;

  min-width: 320px;
}

p {
  @apply leading-normal;
}

.dark {
  @apply text-white bg-grey-dark;

  .seperator {
    @apply border-white;
  }
}

.no-js {
  .dark {
    @apply bg-grey-dark;
  }
}

.light {
  @apply text-black;

  .seperator {
    @apply border-black;
  }
}

.hide-scrollbars {
  overflow-y: scroll;
  box-sizing: content-box;
  margin-right: -20px;
  padding-right: 20px;
}

.bleed--all {
  @apply -mx-8;

  @screen md {
    @apply -mx-12;
  }

  @screen lg {
    @apply -mx-14;
  }

  @screen xl {
    @apply -mx-18;
  }
}

.image-box {
  cursor: none;
  touch-action: none;
  backface-visibility: hidden;
  pointer-events: none;
  width: 0;
  height: 0;
  opacity: 0;
  transform: scale(0.75);
  border: 1px solid white;

  width: 260px;
  height: 320px;
  margin-top: -50px;
  margin-right: calc(50% - 130px);

  @screen md {
    margin-top: -80px;
    margin-right: -100px;

    width: 560px;
    height: 380px;
  }

  @screen lg {
    margin-top: -55px;
    margin-right: 0px;

    width: 640px;
    height: 450px;
  }

  @screen xl {
    margin-top: -90px;
    margin-right: -230px;

    width: 900px;
    height: 620px;
  }
}

@media screen and (max-width: theme('screens.md')) {
  .imageBox {
    @apply -mt-8;
  }
}

.scale-50 {
  transform: scale(0.50);
}
.scale-85 {
  transform: scale(0.85);
}

.home-heading {
  max-width: 620px;

  @screen md {
    max-width: 720px;
  }

  @screen xl {
    max-width: 875px;
  }
}

.swipe-reveal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 0px;
  width: 100%;

  @apply bg-grey-dark;
}

.mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;

  @apply bg-white z-50;
}


.wf-active {
  .swipe-reveal {
    height: 100vh;
  }

  .mask {
    bottom: 0;
    height: 100vh;
  }
}

.wf-active {
  .dark {
    background-color: transparent !important;
  }
}

.sectionTitle {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.fancy-link {
  text-decoration: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg,transparent 97%, #000 0);
  background-size: 0% 100%;
  transition: background-size 0.35s ease-in-out;

  &:hover {
    background-size: 100% 100%;
  }
}

 .current {
  background-size: 0% 100%;
} 

 .dark {
  .fancy-link {
    background-image: linear-gradient(180deg,transparent 97%, #FFF 0);
  }
}

::selection {
  background: #000;
  color: #fff;
}
::-moz-selection {
  background: #000;
  color: #fff;
}
