@import "@/_fonts.css";

@import "tailwindcss/base.css";
@import "tailwindcss/components.css";

@import '@/_headings.css';

@import "tailwindcss/utilities.css";

body {
  @apply antialiased font-sans;

  min-width: 320px;
}

.dark {
  @apply bg-grey-dark text-white;

  .seperator {
    @apply border-white;
  }
}

.light {
  @apply bg-white text-black;
  
  .seperator {
    @apply border-black;
  }
}

.fade-enter-active {
  animation: fadeIn .3s forwards;
}
.fade-leave-active {
  animation: fadeOut .3s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hide-scrollbars {
  overflow-y: scroll;
  /* padding-right: 17px; */
  box-sizing: content-box;
  margin-right: -20px;
  padding-right: 20px;
}

@media screen and (max-width: theme('screens.md')) {
  .bleed {
    @apply -mx-8;
  }
}

.imageBox {
  cursor: none;
  touch-action: none;
  backface-visibility: hidden;
  pointer-events: none;
  width: 230px;
  height: 320px;
  opacity: 0;
  transform: scale(0.75);
  margin-right: calc(50% - 115px);
  
  @screen md {
    @apply -mr-24;

    width: 520px;
    height: 320px;
  }

  @screen lg {
    @apply -mr-32;

    width: 650px;
    height: 365px;
  }
  
  @screen xl {
    @apply -mr-90;

    width: 720px;
    height: 500px;
  }
}

@media screen and (max-width: theme('screens.md')) {
  .imageBox {
    @apply -mt-8;
  }
}

.imageBoxCarousel {
  transform: scale(1);
  opacity: 0;
}

.agile__nav-button {
  display: none !important;
}

.scale-50 {
  transform: scale(0.50);
}
.scale-85 {
  transform: scale(0.85);
}

.home-heading {
  max-width: 620px;

  @screen lg {
    max-width: 675px;
  }
}