@import "@/_fonts.css";

@import "tailwindcss/base.css";
@import "tailwindcss/components.css";

@import '@/_headings.css';

@import "tailwindcss/utilities.css";

body {
  @apply antialiased font-sans;

  min-width: 320px;
}

.dark {
  @apply bg-grey-dark text-white;

  .seperator {
    @apply border-white;
  }
}

.light {
  @apply bg-white text-black;
  
  .seperator {
    @apply border-black;
  }
}

.fade-enter-active {
  animation: fadeIn .3s forwards;
}
.fade-leave-active {
  animation: fadeOut .3s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.97);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.97);
  }
}

.hide-scrollbars {
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
}

@media screen and (max-width: theme('screens.md')) {
  .bleed {
    @apply -mx-8;
  }
}
